body {
    text-align: center;
    background-color: rgb(75, 161, 214);
}

body h1 {
    font-size: 44px;
    background-color: antiquewhite;
    color: rgb(202, 50, 50);
    font-family: Lucida Handwriting,Georgia, 'Times New Roman', Times, sans-serif;
}

body ul {
    font-size: 24px;
    color: beige;
    font-family: Papyrus;
    
}