*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: antiquewhite;
}

.heading,
.list {
    margin: 24px;
    padding: 8px;
    max-width: auto;
}

.heading {
    font-family: Lucida Handwriting, Georgia, 'Times New Roman', Times, sans-serif;
    font-size: 44px;
    border-radius: 12px;
    border: 4px solid red;
    background-color: antiquewhite;
    color: rgb(202, 50, 50);
}

.items.list {
    font-size: 24px;
    color: #CA3232;
    font-family: "Samarkan Font", Papyrus;
    /* list-style-type: lower-latin; */
}

.items.options {
    max-width: 1200px;
    margin: 0px 48px 16px 48px;
    padding: 4px;
    border: 4px solid red;
    border-radius: 0px 20px;
    font-size: 20px;
    font-weight: bold;
    /* display: inline; */
}

.options#even {
    /* to invert border radius of even numbered links (elements) */
    border-radius: 20px 0px;
}